<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <%- await include('styles.ejs') %>
</head>
<body>
    <div class="container">
        <h1>OTP Verification</h1>
        <p>Hi <%= name %>,</p>
        <p><%= message %> To verify your email address, please use this OTP: <%= otp %></p>
        <p>This OTP is valid for 5 minutes. Please enter it in the app to complete your registration.</p>
        <p>If you didn't request this OTP, please ignore this email.</p>
        <footer>
            <p>Best Regards,<br>KlearSplit</p>
        </footer>
    </div>
</body>
</html>
